*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
text-decoration: none;
}

ul,
ol {
list-style: none;
padding: 0;
}

h1,h2,h3,h4,p,
ul,ol,li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
input,
button,
textarea,
select {
font: inherit;
}

body {
font-family: 'Roboto';
margin: 0 auto;
width: 1480px;    
}




.main-section {
margin: 0 auto;
width: 1280px;
}

.main-logo {
box-sizing: border-box;
margin-top: 63px;
min-width: 334px;
margin-bottom: 40px;
}

.main-logo_link-box_first-letters {
color: black;
}
.main-logo_link-box {
box-sizing: border-box;
color: #4BCAFF;
line-height: 93.75px;
font-size: 80px;
}

.nav {
background-color: #35444F;
margin-bottom: 19px;
}

.nav_list {
display: flex;
/* justify-content: space-between; */
padding-left: 160px;
padding-right: 132px;
}

.nav_list_items {
    padding: 18px 32px;
    /* flex-shrink: 0; */
    border-left: 1px solid #ffffff;
    transition: .5s;
} 

.nav_list_items:nth-child(4) {
border-right: 1px solid #ffffff;
}
.nav_list_items:hover {
    transition: .5s;
    background-color: #222F3A;
    box-shadow: inset 0 0 0 4px #4BCAFF;
    /* border:1px solid #4BCAFF; */
    
}

.nav_list_items_link {
color: #ffffff;
font-size: 24px;
line-height: 28px;
font-weight: 400;
}
.nav_list_items_link:hover {
  color: #4BCAFF;
}

.main-box {
display: flex;
}
.side-nav {
margin-right: 53px;
}
.side-nav_list {
display: flex;
flex-direction: column;
height: 400px;
width: 344px;
border: 1px solid #000000;
}

.side-nav_items {
/* width: 341px;
height: 81px; */
padding-left: 70px;
padding-top: 27px;
padding-bottom: 25px;
}

.side-nav_items_links {
font-size: 27px;
font-weight: 400;
line-height: 27px;
color:#485863;
}

.side-nav_items:hover {
  background: #DBDBDB;
  transition: .5s;
}
.side-nav_items_links:hover {
color: #000000;
transition: .5s;
}

.main-box {
margin-bottom:51px ;
}

.main-box_content {
display: flex;
flex-direction: column;
}

.main-box_pic {
border: 1px solid #000000;
width: 885px;
height: 529px;
margin-bottom: 37px;
}
.main-box_pic_body {
padding-top:75px ;
padding-left: 297px;
}

.main-box_content_upper_text {
margin-bottom: 34px;
}
.main-box_description {
/* display: flex;
flex-direction: column; */
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #2C2C2C;
}

.footer-box {
  display: flex;
  /* gap: 20%; */
  justify-content: space-around;
  background: rgba(99, 105, 110, 0.48);
}


.footer-nav_list_items  {
display: flex;
}

.footer-nav_links {
color:#000000;
font-size: 28px;
line-height: 28px;
}

.footer-nav_list_items_child {
padding: 20px;
}

.footer_rights {
align-self: center;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.footer-nav_links:hover {
color: #4BCAFF;
transition: .3s;
}